
.container-a {
    display:grid;
    height: 100vh;
    grid-gap: 10px;
    font-family: 'Source Sans Pro', sans-serif;
    grid-template-areas:
    "header"
    "contenido"
    "izquierda"
    "footer";
   
    
 }

 @media (min-width: 500px) {
     .container-a {
         grid-template-areas:
         "header header" 
         "contenido izquierda"
         "footer footer";
         grid-template-columns: 1fr 1fr;
         grid-auto-rows: 1fr 3fr 1fr;
        
     }

}

        




.header-a {
    background-color: white;
    grid-area: header;

  

}

.contenido-a {
    background-color: #E4E1DC;
    grid-area: contenido;
    padding: 0 15px 0 15px;

}

.footer-a {
    background-color: #F1F1F1;
    grid-area: footer;
   

}

.izquierda-a {
    background-color: #E4E1DC;
    grid-area: izquierda;
   /* background-image: url('img/persona.jpg');
    background-position: center right;
    background-repeat: no-repeat;-*/

 }
   
.foto-persona {
    min-width: 250px;
    max-width: 600px;
}


   
