

.card_projects {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 250px;
}

/* On mouse-over, add a deeper shadow */
.card_projects:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.a_style2{
    text-decoration: none;
    color: black;
}

/* Add some padding inside the card container */
.container_card_projects {
    padding: 2px 16px;
    background-color: white;
}

.proyectos_gnrl_gird{

    font-family: 'Source Sans Pro', sans-serif;
    grid-template-columns: repeat(8, 1fr);
    display: grid;
    grid-gap: 10px;
    grid-template-areas: 
    "a a a a a a a a"
    "b b b b b b b b"
    "c c c c c c c c"
    "d d d d d d d d";
}

.extraMargin{
    margin-top: 20px;
}

.shiping_card{
    grid-area: a;
    justify-self: center;
}

.vintta_card{
    grid-area: b;
    justify-self: center;
}

.awesome_card{
    grid-area: c;
    justify-self: center;
}

.tesla_card{
    grid-area: d;
    justify-self: center;
}

.titulo-pagina {
        color: #B1B2B3;
        padding-left: 3rem;
        font-family: 'Source Sans Pro', sans-serif;
       
}

.body_projects{
    background-color:#D4E3E0;
    display: block;
    clear: both;
}

.title_card{
    font-weight:700;
    font-size: 1.2rem; 
}



@media (min-width: 550px) { 

    .proyectos_gnrl_gird{
        grid-template-columns: repeat(8, 1fr);
        display: grid;
        grid-gap: 10px;
        grid-template-areas: 
        "a a a a b b b b"
        "a a a a b b b b"
        "c c c c d d d d"
        "c c c c d d d d";
        
    }


 }

 @media (min-width: 1020px) { 

    .proyectos_gnrl_gird{
        grid-template-columns: repeat(12, 1fr);
        display: grid;
        grid-gap: 10px;
        grid-template-areas: 
        "a a a b b b c c c d d d"
        "a a a b b b c c c d d d"
        "a a a b b b c c c d d d"
        "a a a b b b c c c d d d"
        ;

        margin-top: 100px;
       
    }

    .extraMargin{
        margin-top: 200px;
    }

 }






